.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: .5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 760px;
    max-width: 100%;
    flex-direction: column;
}

.footer a {
  color: inherit;
}
